*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.flex-gap30{
display: flex;
gap: 30px;
}
.bgImage{
    margin-bottom: 20px;
    height: 650px;
}

.bgImage img{
    width: 100%;
    height: 70vw;
    max-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
}
.bodyDetailContainer{
    padding: 100px 0px;
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 300px;
}
.bodyContentContainer{
    margin-left: 60px;
    padding: 10px 10px;
    text-align: left;
    width: 410px;
    background-color: white;
    border-radius: 12px
}
.bodyDetailContainer_data_container{
    height: 400px;
}
.bodyDetailContainer_data_containerP{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    width: 100%;
}
#city{
    width: 100%;
    height: 60px;
    border: 2px solid rgba(128, 128, 128, 0.179);
    background-color: #fff;
    color: grey;
    border-radius: 6px;
    margin-top: 25px;
    appearance: none;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E)!important;
    background-repeat: no-repeat,repeat;
    background-position: right 0.7em top 50%,0 0;
    background-size: 0.65em auto,100%;
    border-radius: 10px;
    padding: 0 0 0 0.35em;
}
.Button_div button{
    background-color: #012b72;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 20px;
}
.btSearch:hover{
    cursor: pointer;
    background-color: #011a46;
}
.Sublistheader_cont_cent{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#forHover p{
    color: black;
}
.SublistSliderIcon_img_cont img{

    width: 20px;
    height: 20px;
}